In [1]:
import yfinance as yf
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# Collecting Data

### Minute By Minute Trading Prices
* *Collecting SPY and MSFT trading data (one minute intervals)*
* Max period = '7d'
* Includes Volume

In [2]:
data = yf.download(tickers="SPY MSFT",
                   period="7d",
                   interval="1m"
                  )
data.tail()

[*********************100%***********************]  2 of 2 completed

                            Adj Close                   Close              \
                                 MSFT         SPY        MSFT         SPY
Datetime
2020-11-13 15:55:00-05:00  216.580002  357.878906  216.580002  357.878906
2020-11-13 15:56:00-05:00  216.460007  357.820007  216.460007  357.820007
2020-11-13 15:57:00-05:00  216.732101  358.204987  216.732101  358.204987
2020-11-13 15:58:00-05:00  216.919998  358.350006  216.919998  358.350006
2020-11-13 15:59:00-05:00  216.509995  358.059998  216.509995  358.059998

                                 High                     Low              \
                                 MSFT         SPY        MSFT         SPY
Datetime
2020-11-13 15:55:00-05:00  216.643906  357.959991  216.449997  357.809998
2020-11-13 15:56:00-05:00  216.580002  357.950012  216.449997  357.799988
2020-11-13 15:57:00-05:00  216.740005  358.209991  216.440002  357.811798
2020-11-13 15:58:00-05:00  216.919998  358.350006  216.630005  358.140015
2020-11-13 15:59:00-05:00  217.000000  358.420013  216.500000  357.929993

                                 Open                Volume
                                 MSFT         SPY      MSFT      SPY
Datetime
2020-11-13 15:55:00-05:00  216.550003  357.920013   96540.0   529698
2020-11-13 15:56:00-05:00  216.570007  357.859985   77826.0   335177
2020-11-13 15:57:00-05:00  216.449997  357.825012  136372.0   511202
2020-11-13 15:58:00-05:00  216.729996  358.204987  146109.0  1255195
2020-11-13 15:59:00-05:00  216.929993  358.350006  250540.0  1818986

### Daily Trading Prices + Additional Data
* *Collecting S&P500 trading data with additional information (one day intervals)*
* Includes Volume, Dividends, Stock Splits

In [3]:
# Setting ticker value to use in rest of script
spy = yf.Ticker("SPY")

In [4]:
# Calling all historical data for our ticker
hist_data = spy.history(period="max")
hist_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1993-01-29,26.098207,26.098207,25.968366,26.079659,1003200,0.0,0
1993-02-01,26.098205,26.265144,26.098205,26.265144,480500,0.0,0
1993-02-02,26.246586,26.339331,26.190940,26.320782,201300,0.0,0
1993-02-03,26.357880,26.617563,26.339331,26.599014,529400,0.0,0
1993-02-04,26.691763,26.765958,26.394982,26.710312,531500,0.0,0
...,...,...,...,...,...,...,...
2020-11-09,363.970001,364.380005,354.059998,354.559998,172304200,0.0,0
2020-11-10,353.489990,355.179993,350.510010,354.040009,85552000,0.0,0
2020-11-11,356.399994,357.559998,355.059998,356.670013,58649000,0.0,0
2020-11-12,355.579987,356.720001,351.260010,353.209991,67546200,0.0,0
2020-11-13,355.269989,358.899994,354.709991,358.100006,62892200,0.0,0

### Other Stock Information
* Has potential for use in Dashboard / UI

In [5]:
spy.info

{'previousClose': 353.21,
 'regularMarketOpen': 355.27,
 'twoHundredDayAverage': 324.28708,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 358.9,
 'navPrice': 357.99,
 'averageDailyVolume10Day': 91364500,
 'totalAssets': 277588738048,
 'regularMarketPreviousClose': 353.21,
 'fiftyDayAverage': 342.17972,
 'trailingAnnualDividendRate': None,
 'open': 355.27,
 'toCurrency': None,
 'averageVolume10days': 91364500,
 'expireDate': None,
 'yield': 0.017400000000000002,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 354.71,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 62959429,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': None,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 76173996,
 'priceToSalesTrailing12Months': None,
 'dayLow': 354.71,
 'ask': 358.39,
 'ytdReturn': None,
 'askSize': 2200,
 'volume': 62959429,
 'fiftyTwoWeekHigh': 364.38,
 'forwardPE': None,
 'maxAge': 1,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 218.26,
 'bid': 358.3,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1300,
 'dayHigh': 358.9,
 'exchange': 'PCX',
 'shortName': 'SPDR S&P 500',
 'longName': 'SPDR S&P 500 ETF Trust',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'ETF',
 'symbol': 'SPY',
 'messageBoardId': 'finmb_6160262',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': None,
 'beta3Year': 1,
 'profitMargins': None,
 'enterpriseToEbitda': None,
 '52WeekChange': None,
 'morningStarRiskRating': None,
 'forwardEps': None,
 'revenueQuarterlyGrowth': None,
 'fundInceptionDate': 727660800,
 'annualReportExpenseRatio': None,
 'bookValue': None,
 'fundFamily': 'SPDR State Street Global Advisors',
 'lastFiscalYearEnd': None,
 'netIncomeToCommon': None,
 'trailingEps': None,
 'lastDividendValue': None,
 'SandP52WeekChange': None,
 'priceToBook': None,
 'nextFiscalYearEnd': None,
 'mostRecentQuarter': None,
 'enterpriseValue': None,
 'threeYearAverageReturn': 0.13540000000000002,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': 'Exchange Traded Fund',
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'pegRatio': None,
 'lastCapGain': None,
 'category': 'Large Blend',
 'fiveYearAverageReturn': 0.1364,
 'phone': '866-732-8673',
 'longBusinessSummary': 'The investment seeks to provide investment results that, before expenses, correspond generally to the price and yield performance of the S&P 500Â® Index.\n The Trust seeks to achieve its investment objective by holding a portfolio of the common stocks that are included in the index (the â\x80\x9cPortfolioâ\x80\x9d), with the weight of each stock in the Portfolio substantially corresponding to the weight of such stock in the index.',
 'companyOfficers': [],
 'regularMarketPrice': 355.27,
 'logo_url': ''}

In [6]:
# See financial events in tickers history
spy.actions

            Dividends  Stock Splits
Date
1993-03-19      0.213           0.0
1993-06-18      0.318           0.0
1993-09-17      0.286           0.0
1993-12-17      0.317           0.0
1994-03-18      0.271           0.0
...               ...           ...
2019-09-20      1.384           0.0
2019-12-20      1.570           0.0
2020-03-20      1.406           0.0
2020-06-19      1.366           0.0
2020-09-18      1.339           0.0

[112 rows x 2 columns]

In [7]:
# show options expirations
spy.options

('2020-11-16',
 '2020-11-18',
 '2020-11-20',
 '2020-11-23',
 '2020-11-25',
 '2020-11-27',
 '2020-11-30',
 '2020-12-01',
 '2020-12-02',
 '2020-12-04',
 '2020-12-07',
 '2020-12-09',
 '2020-12-11',
 '2020-12-14',
 '2020-12-16',
 '2020-12-18',
 '2020-12-24',
 '2020-12-31',
 '2021-01-15',
 '2021-02-19',
 '2021-03-19',
 '2021-03-31',
 '2021-04-16',
 '2021-05-21',
 '2021-06-18',
 '2021-06-30',
 '2021-09-17',
 '2021-09-30',
 '2021-12-17',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16',
 '2022-12-16',
 '2023-01-20')

### For Individual Stocks Only
* Not available for index funds

In [8]:
# Changing ticker to individual stock
msft = yf.Ticker("MSFT")

In [9]:
# show analysts recommendations
msft.recommendations

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2020-10-28 09:02:04   Piper Sandler     Overweight              main
2020-10-28 12:00:17  Morgan Stanley     Overweight              main
2020-10-28 13:22:56   Credit Suisse     Outperform              main
2020-10-29 16:00:20   Deutsche Bank            Buy              main
2020-11-05 10:48:37     Oppenheimer     Outperform    Perform     up

[298 rows x 4 columns]

In [10]:
# show next event (earnings, etc)
msft.calendar

                                    0                    1
Earnings Date     2021-01-27 00:00:00  2021-02-01 00:00:00
Earnings Average                 1.64                 1.64
Earnings Low                     1.57                 1.57
Earnings High                    1.86                 1.86
Revenue Average           40208000000          40208000000
Revenue Low               39888000000          39888000000
Revenue High              41145000000          41145000000

In [11]:
# Major stockholders
msft.major_holders

        0                                      1
0   0.06%        % of Shares Held by All Insider
1  72.09%       % of Shares Held by Institutions
2  72.13%        % of Float Held by Institutions
3    4840  Number of Institutions Holding Shares

In [12]:
# Institutional stockholders
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",632013255,2020-06-29,0.0836,128621017525
1,Blackrock Inc.,516065148,2020-09-29,0.0683,108543982578
2,State Street Corporation,309004107,2020-09-29,0.0409,64992833825
3,"FMR, LLC",236873992,2020-06-29,0.0313,48206226111
4,Price (T.Rowe) Associates Inc,183090016,2020-06-29,0.0242,37260649156
5,Capital World Investors,122923512,2020-06-29,0.0163,25016163927
6,"Geode Capital Management, LLC",116688974,2020-06-29,0.0154,23747373098
7,Capital International Investors,98209725,2020-06-29,0.0130,19986661134
8,Capital Research Global Investors,94081197,2020-06-29,0.0124,19146464401
9,Northern Trust Corporation,93331898,2020-06-29,0.0123,18993974561

In [13]:
# show sustainability
msft.sustainability

                                     Value
2020-10
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           9.37
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              103
governanceScore                       5.09
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             14.94
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            7.18
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.47
governancePercentile                  None
militaryContract                     False

### Likely requires paid subscription

In [14]:
# Show financials
msft.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [15]:
msft.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [16]:
# show balance sheet
msft.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [17]:
msft.quarterly_balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [18]:
# show cashflow
msft.cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [19]:
msft.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [20]:
# show earnings
msft.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [21]:
msft.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

# ETL - Project Data

In [22]:
# Setting ticker value to use in data collection process
ticker = yf.Ticker("SPY")

# Calling all historical data for ticker
df = ticker.history(period="max")
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1993-01-29,26.098207,26.098207,25.968366,26.079659,1003200,0.0,0
1993-02-01,26.098205,26.265144,26.098205,26.265144,480500,0.0,0
1993-02-02,26.246586,26.339331,26.190940,26.320782,201300,0.0,0
1993-02-03,26.357880,26.617563,26.339331,26.599014,529400,0.0,0
1993-02-04,26.691763,26.765958,26.394982,26.710312,531500,0.0,0
...,...,...,...,...,...,...,...
2020-11-09,363.970001,364.380005,354.059998,354.559998,172304200,0.0,0
2020-11-10,353.489990,355.179993,350.510010,354.040009,85552000,0.0,0
2020-11-11,356.399994,357.559998,355.059998,356.670013,58649000,0.0,0
2020-11-12,355.579987,356.720001,351.260010,353.209991,67546200,0.0,0
2020-11-13,355.269989,358.899994,354.709991,358.100006,62892200,0.0,0

In [23]:
old_close=0
old_volume=0
for index, row in df.iterrows():
    close=row["Close"]
    volume=row["Volume"]
    
    # Calculating differences in price and volume
    close_diff=close-old_close
    volume_diff=volume-old_volume
    
    # Creating binary outcome of Closing Price change
    if close_diff>0:
        # Closed higher
        close_change=1
    else:
        # Closed lower or no change
        close_change=0
        
    # Calculating other information
    price_swing=row["High"]-row["Low"]
    price_percent_change=((close-old_close)/old_close)*100
    volume_change_percent=((volume-old_volume)/old_volume)*100
    
    # Adding values to DataFrame
    df.loc[index, "price_change_$"]=close_diff
    df.loc[index, "price_change_%"]=price_percent_change
    df.loc[index, "price_swing"]=price_swing
    df.loc[index, "volume_change"]=volume_diff
    df.loc[index, "volume_change_%"]=volume_change_percent
    df.loc[index, "price_change_binary"]=close_change
    
    # Replacing old closing information
    old_close=close
    old_volume=volume

In [24]:
# The price_change and volume_change columns in the first row are not scaled properly
# This is because there was no previous day's values to compare to
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,price_change_$,price_change_%,price_swing,volume_change,volume_change_%,price_change_binary
Date,,,,,,,,,,,,,
1993-01-29,26.098207,26.098207,25.968366,26.079659,1003200,0.0,0,26.079659,inf,0.129842,1003200.0,inf,1.0
1993-02-01,26.098205,26.265144,26.098205,26.265144,480500,0.0,0,0.185486,0.711228,0.166939,-522700.0,-52.103270,1.0
1993-02-02,26.246586,26.339331,26.190940,26.320782,201300,0.0,0,0.055637,0.211830,0.148391,-279200.0,-58.106139,1.0
1993-02-03,26.357880,26.617563,26.339331,26.599014,529400,0.0,0,0.278233,1.057083,0.278232,328100.0,162.990561,1.0
1993-02-04,26.691763,26.765958,26.394982,26.710312,531500,0.0,0,0.111298,0.418428,0.370977,2100.0,0.396675,1.0

In [25]:
# Creating new DataFrame that excludes the first row of data
df_final=df.iloc[1:,:]
df_final.rename(columns={"Open":"open","High":"high","Low":"low","Close":"close","Volume":"volume","Dividends":"dividends","Stock Splits":"stock_splits"}, inplace=True)
df_final

,open,high,low,close,volume,dividends,stock_splits,price_change_$,price_change_%,price_swing,volume_change,volume_change_%,price_change_binary
Date,,,,,,,,,,,,,
1993-02-01,26.098205,26.265144,26.098205,26.265144,480500,0.0,0,0.185486,0.711228,0.166939,-522700.0,-52.103270,1.0
1993-02-02,26.246586,26.339331,26.190940,26.320782,201300,0.0,0,0.055637,0.211830,0.148391,-279200.0,-58.106139,1.0
1993-02-03,26.357880,26.617563,26.339331,26.599014,529400,0.0,0,0.278233,1.057083,0.278232,328100.0,162.990561,1.0
1993-02-04,26.691763,26.765958,26.394982,26.710312,531500,0.0,0,0.111298,0.418428,0.370977,2100.0,0.396675,1.0
1993-02-05,26.691771,26.747417,26.543380,26.691771,492100,0.0,0,-0.018541,-0.069416,0.204037,-39400.0,-7.412982,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-09,363.970001,364.380005,354.059998,354.559998,172304200,0.0,0,4.399994,1.256567,10.320007,97331200.0,129.821669,1.0
2020-11-10,353.489990,355.179993,350.510010,354.040009,85552000,0.0,0,-0.519989,-0.146658,4.669983,-86752200.0,-50.348279,0.0
2020-11-11,356.399994,357.559998,355.059998,356.670013,58649000,0.0,0,2.630005,0.742855,2.500000,-26903000.0,-31.446372,1.0
2020-11-12,355.579987,356.720001,351.260010,353.209991,67546200,0.0,0,-3.460022,-0.970091,5.459991,8897200.0,15.170250,0.0
2020-11-13,355.269989,358.899994,354.709991,358.100006,62892200,0.0,0,4.890015,1.384450,4.190002,-4654000.0,-6.890099,1.0

In [26]:
# Save DataFrame as CSV file
df_final.to_csv("stock_data.csv")